.footer {
    margin-top: 0px !important;
    padding-top: 20px;
    background-color:#007DA5 !important;
}

.footer ul li a, .footer ul li span {
    color:#fff !important;
}

.footer ul.footer-list li {
    margin-bottom: 10px;
}

 #newsletter {
    background-color: #E0E0E0 !important
}


.dropbuttom .dropdown-btn#atendimento {
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    color: #000 !important;
    background-color: #E0E0E0 !important;
    font-size: 20px;
    text-align: left;
    outline: none !important;
    padding-left: 1em;
    margin-top: -15px;
}
.dropdown-container#atendimento{
    background-color: #fff  !important;
}
.dropdown-container#atendimento li {
    margin-top: 1em;
}

.dropdown-container#atendimento li a {
    font-size: 18px;
    color: black !important;
}

#atendimento .fa-angle-down, #atendimento .fa-angle-up {
    float: right;
    padding-right: 8px;
    color: #000;
}

#atendimento ul li{
    margin-top: 15px;
}



.dropbuttom .dropdown-btn#politicas {
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
    color: #000 !important;
    background-color: #E0E0E0  !important;
    font-size: 20px;
    text-align: left;
    outline: none !important;
    padding-left: 1em;
    margin-top: -15px;
}
.dropdown-container#politicas{
    background-color: #fff  !important;
}
.dropdown-container#politicas li {
    margin-top: 1em;
}
.dropdown-container#politicas li a {
    font-size: 18px;
    color: black !important;
}

#politicas .fa-angle-down, #politicas .fa-angle-up {
    float: right;
    padding-right: 8px;
    color: #000;
}

#politicas ul li{
    margin-top: 15px;
}


.inst ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 0px;
    padding: 24px 0px;
}

.depto-menu-footer{
    background-color: #007DA5;
}

.inst ul li a {
    font-size: 20px;
    color: white !important;
}


.social-icons li {
    margin-right: 16px
}

.pay-icons li {
    margin: 3px 3px;
    padding:0px !important;
}

#seloEbit{
    overflow: inherit !important; 
    position: inherit !important;
}

.AV_fancybox-slide{
   top: 55px !important;
}

.social-icons {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}


.social-icons li a img {
 
    margin-bottom: 12px;
    width: 64%;

  
}

.payments li a img {
    max-width: 262px
}

.certificates li a img {
    max-width: 100px
}

#footercbyk {
    max-width: 45px;
}

#footervtex {
    max-width: 74px;
}

#middle-footer {
    padding-top: 38px;
    padding-bottom: 38px;
}

.footer-section ul li a, .footer-section ul li span {
    font-size: 15px;
    line-height: 25px;
    color: #565656
}

.footer-title {
    margin-bottom: 22px;
    font-weight: bold;
    margin-top: 2em;
    color: white !important;
}

#newsletterwrapper input {
    height: 44px;
    font-size: 16px;
    color: #444;
    width: 14%;
    outline: none;
    border-radius: 0px;
    padding-left: 0px;
    margin-right: 1em;
    text-align: center;
}

#newsletterwrapper input::placeholder {
    color: #444;
}

#newsletterwrapper input:focus {
    background: #EAECED;
}

#emailcatcher {
    color: #007DA5;
    background-color: white;
    padding: 11px 41px;
    text-decoration: none;
    border-radius: 0px;
    height: 44px;
    font-size: large;
    border: solid 2px #007DA5;
}

#newsletterwrapper{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.copy{
    color: white;
}



.AV_fancybox-content{
    margin-top: 11em;
}

#makers {
   text-align: right;
}

@media (min-width: 1200px) {
    .smaller-row {
        margin-left: 135px !important;
        margin-right: 135px !important;
    }

    .selo-de-seguranca {
        max-width: 99px !important;
        margin-top: 0px !important;
        margin-left: -15px !important;
    }

    .devs.list-inline {
        margin-top: 4em;
    }
}

@media screen and (max-width: 600px) {

    .footer {
        text-align: center;
    }
    #newsletterwrapper input {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    #emailcatcher {
        margin-left: 0;
    }
    .footer .smaller-row {
        margin-top: 31px;
    }
    .footer-section {
        margin-top: 29px;
    }
    .footer-title {
        margin-bottom: 15px;
    }
    #middle-footer div ul li:first-child {
        
        margin-bottom: 18px;
        margin-top: 28px;
    }

    #makers {
        margin-top: 25px;
        text-align: center !important;
    }


    .social-icons li a img {
        margin-top: 0;
    }

    .selo-de-seguranca {
        max-width: 68px !important;
      /*  margin-top: -31px !important;*/
    }
    .devs.list-inline {
        margin-top: 3em;
    }

    .depto-menu-footer{
        display: none;
    }

    #newsletterwrapper{
        display: block;
    }

    #emailcatcher{
        color: #fff;
        background-color: black;
        padding: 11px 41px;
        text-decoration: none;
        border-radius: 0px;
        height: 44px;
        font-size: large;
        border: solid 2px #000;
        width: 100%;
        display: block;
    }
}



@media screen and (min-width: 768px)and (max-width: 1100px) {

    #newsletterwrapper p {
        font-size: 12px !important;
        margin-right: 5px !important;
    }

    #newsletterwrapper input{
        margin-right: 5px !important;
    }

    .footer .col-xs-12{
        text-align: center;
    }
    
}