body {
    max-width: 100%;
    overflow-x: hidden;
}

.special-title {
    margin: 3em 0em;
}

#homeCardsCarousel .box-banner a img {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.item {
    width: 80%;
}

#homebrandsCarousel .box-banner a img {
    padding: 9px;
}

#homeCardsCarousel {
    margin-top: 3em;
}

.item2 img {
    margin-left: -20px;
}

.item img {
    margin-left: 35px;
    ;
}

.politicas-comerciais-faixa {
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fullbanner {
    visibility: hidden;
}

#gifloader {
    position: absolute;
    left: 31%;
}

.faixadesk,
.faixamob {
    margin-top: 3em;
}

.faixadesk .box-banner,
.faixamob .box-banner {
    margin-top: 1em;
}

#banner-galery {
    display: none;
}

#banner-galery.slick-initialized {
    padding: 20px 0;
    display: block;
}

#banner-galery .box-banner img {
    padding: 0 10px;
}

#banner-galery .slick-arrow {
    width: 80px;
}

@media screen and (max-width: 700px) {
    #banner-galery .slick-arrow {
        display: none !important;
    }
    #homeCardsCarousel .box-banner a img {
        margin-left: auto;
        margin-right: auto;
        padding: 0em;
    }
    .special-title svg {
        width: 340px;
    }
    .item2 img {
        margin-left: 0px;
    }
}

@media screen and (min-width: 1100px) {
    .prateleira .product-image img {
        width: 182px !important;
    }
}