.special-title {
    margin: 3em 0em;
}

#homeCardsCarousel .box-banner a img {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#homebrandsCarousel .box-banner a img{
    padding: 9px;
}

#homeCardsCarousel {
    margin-top: 3em;
}

.politicas-comerciais-faixa{
    background-color: #F2F2F2 ;
}

.fullbanner {
    visibility: hidden;
}

#gifloader {
    position: absolute;
    left: 31%;
}

.faixadesk, .faixamob {
    margin-top: 3em;
}

.faixadesk .box-banner, .faixamob .box-banner {
    margin-top: 1em;
}
@media screen and (max-width: 700px) {
    #homeCardsCarousel .box-banner a img {
        margin-left: auto;
        margin-right: auto;
        padding: 0em;
    }
    .special-title svg {
        width: 340px;
    }
}

@media screen and (min-width: 1100px) {
    .prateleira .product-image img {
        width: 182px !important;
    }
}