.politicas-comerciais {
    display: flex;
    align-items: center;
}
.politicas-comerciais ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 0px;
}

#home-content {
    border-top: solid 1px #EBEBEB;
    padding-top: 20px;
}

.waterdropTitle .line {
    border-bottom: solid 1px #EBEBEB;
    margin-bottom: -18px;
    margin-top: 29px;
}

.waterdropTitle img {
   max-width: 20px;
   background-color: white;
}

.waterdropTitle h3 {
    color: #007DA5
 }

.politicas-comerciais ul li img{
    max-width: 90%;
}

.prateleira .box-item {
    height: 36em !important;
}

.box-banner a img {
    max-width: 100%;
    height: auto;
}


.prateleira h2 {
    display: none !important;
}

.fullbanner .owl-controls .owl-buttons > div.owl-prev, .fullbanner .owl-controls .owl-buttons > div.owl-next {
    display: none;
}

@media screen and (max-width: 800px) {
    #sobre p, #sobre h3 {
        text-align: center;
    }

    .sobre-durval {
        padding-top: 10px;
        padding-bottom: 30px;
    }


#carouselpropostas .owl-item .item  img{
    text-align: center;
    width: auto;
    max-height: 42px;
}

#carouselpropostas .owl-item .item {
   
}
}



@media screen and (max-width: 415px) {
    .fullbanner .box-banner img {
        height: auto ! important;
        width: 414px! important;
    }
}

